<section class="containerforleftbar">
    {{>leftnavseller}}

    <section class="container-sellerProducts">
        <h2>Seller Products</h2>
        <section class="container-1-sellerProducts">
            {{#each products}}
            <div href="/seller/products/detail/{{this._id}}">
                <div>
                    <p><strong>Product : </strong><a href="/seller/products/detail/{{this._id}}">{{this.title}}</a></p>
                    <p>Description : {{this.category}}</p>
                    <p>Price : {{this.unitPrice}} MXN</p>
                </div>
                <div>
                    <img src={{this.picURL}} alt="{{this.title}}">
                </div>
            </div>
            {{/each}}
        </section>

        <section class="container-2-sellerProducts">
            <div>
                <a href="/seller/add">ADD</a>
            <a href="/seller/">DASHBOARD</a>
            </div>
            
    </section>
    
</section>