<section class="container-sellerEdit">
    {{>leftnavseller}}
    <section class="container-1-sellerEdit">
        <h2>Products</h2>
    </section>

    <section class="container-2-sellerEdit">
        <form action="/seller/products/detail/{{_id}}/edit" method="POST">
            <input type="text" name="title" placeholder={{title}} value={{title}}>
            <br>
            <input type="text" name="description" placeholder={{description}} value={{desctiption}}>
            <br>
            <input type="text" name="details" placeholder={{details}} value={{details}} >
            <br>
            <input list="category" name="category" placeholder={{category}} value={{category}}>
                <datalist id="category">
                    <option value="Electrónica">
                    <option value="Celulares">
                    <option value="Videojuegos">
                    <option value="Farmacia">
                    <option value="Linea Blanca">
                    <option value="Ropa">
                    <option value="Muebles">
                    <option value="Vinos y Licores">
                    <option value="Seguros">                    
            </datalist>
            <br>
            <input type="number" name="unitPrice" placeholder={{unitPrice}} value={{unitPrice}}>
            <br>
            <input type="number" name="minQuantity" min="" placeholder={{minQuantity}} value={{minQuantity}}>
            <br>
            <input type="number" name="maxQuantity" max="" placeholder={{maxQuantity}} value={{maxQuantity}}>
            <br>
            <input type="image" name="picUrl">
            <br>
            <input type="submit" value="EDIT">
            <br>
            
            <button><a href="/seller/products">VIEW all Products</a></button>
            <button><a href="/seller/">DASHBOARD</a></button>
        </form>
    </section>
</section>

