<section class="containerforleftbar">
    {{>leftnavbuyer}}
    <section class="container-newOrder">
        <h2>PayPal Payment Succesful</h2>
        <h4>Your order details:</h4>
        <table>
            <tbody>
                <tr>
                    <td><strong>Product: </strong></td>
                    <td>{{title}}</td>
                </tr>
                <tr>
                    <td><strong>Unit Price: </strong></td>
                    <td>${{unitPrice}}</td>
                </tr>
                <tr>
                    <td><strong>Quantity: </strong></td>
                    <td>{{quantity}}</td>
                </tr>
                <tr>
                    <td><strong>Total Price: </strong></td>
                    <td>${{totalPrice}}</td>
                </tr>      
            </tbody>      
        </table>
           
            <a class="container-newOrder-a waves-effect waves-light btn orange accent-4" href="https://community-ihproject2.herokuapp.com/buyer/buyerproducts/detail/{{productId}}"><i class="material-icons left">store</i>PRODUCT PAGE</a>
            <a class="container-newOrder-a waves-effect waves-light btn orange accent-4" href="/buyer/orders"><i class="material-icons left">shopping_cart</i>VIEW MY ORDERS</a>
        

    </section>

</section>

