<section class="containerforleftbar">
    {{>leftnavbuyer}}
    <section>
        <section class="container-1-myOrders">
            <h2>Orders</h2>
        </section>
         <section class="container-2-myOrders">
            {{#each prod}}
            <table>
                <h4>{{title}}</h4>
                <img src="{{picURL}}" alt="Product Pic">
                <tbody>
                    <tr>
                        <td><strong>Product: </strong></td>
                        <td>{{title}}</td>
                    </tr>
                    <tr>
                        <td><strong>Unit Price: </strong></td>
                        <td>${{unitPrice}}</td>
                    </tr>
                    <tr>
                        <td><strong>Quantity: </strong></td>
                        <td>{{order.0.buyers.buyerQuantity}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Price: </strong></td>
                        <td>${{order.0.buyers.totalPrice}}</td>
                    </tr>
                    <tr>
                        <td><strong>Order Number: </strong></td>
                        <td>{{order.0.buyers._id}}</td>
                    </tr>
                     <tr>
                        <td><strong>Seller: </strong></td>
                        <td><img style="border-radius: 50%; height: 25px" src="{{seller.0.picURL}}" alt="SellerPic">{{seller.0.username}} - <a href="mailto:{{seller.0.email}}">{{seller.0.email}}</a> </td>
                    </tr> 
                </tbody>      
            </table>
           <a class="container-newOrder-a waves-effect waves-light btn orange accent-4" href="https://community-ihproject2.herokuapp.com/buyer/buyerproducts/detail/{{productId}}"><i class="material-icons left">store</i>PRODUCT PAGE</a>
        {{/each}}
    </section>
    </section>
    
</section>

