<section class="container-buyerDetail">
    <section class="container-1-buyerDetail">
        <h2>Detail</h2>
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>{{details}}</p>
        <p>{{category}}</p>
        <p>{{unitPrice}}</p>
        <img src={{picURL}} alt={{this.title}}/>

    </section>

    <section class="container-2-buyerDetail">
            <form action="/buyer/buyerProducts" method="POST">
            <p>Cuantas unidades quieres adquirir</p>
            <input type="number" min={{minQuantity}} name="buyerQuantity" placeholder="Unides">
            <br>
            <input type="submit" value="Pagar">
            </form>
    </section>

</section>
