<section class="containerforleftbar">
  {{>leftnavbuyer}}
    <section class="container-buyerProducts">
        <h2>ALL PRODUCTS</h2>
        <section class="container-1-buyerProducts">
            {{#each products}}
            <div>
                <div>
                    <p>Product : <a href="/buyer/buyerproducts/detail/{{id}}">{{this.title}}</a></p>
                    <p>Description : {{this.description}}</p>
                    <p>Price : {{this.unitPrice}} MXN</p>
                </div>
                <div>
                    <img src="{{this.picURL}}" alt="{{this.title}}">
                </div>
            </div>
            {{/each}}
        </section>
    </section>
</section>


