<section class="container-buyer">
    <h2>ALL PRODUCTS</h2>
    <section class="container-1-buyer">
        {{#each products}}
        <div>
            <div>
                <p>Producto : <a href="/buyer/buyerproducts/detail/{{id}}">{{this.title}}</a></p>
                <p>Descripción : {{this.description}}</p>
                <p>Precio : {{this.unitPrice}} MXN</p>
            </div>
            <div>
                <img src="#" alt="{{this.title}}">
            </div>
        </div>
        {{/each}}
    </section>


</section>


