<section class="containerforleftbar">
    {{>leftnavbuyer}}

    <section class="container-buyerDetail">
        
        <section class="container-1-buyerDetail"> 
            <h2 style="color: #ff6d00; margin-top: 0px">Detail</h2>
                    <div class="col s8 offset-s2">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{this.picURL}}" alt="{{this.title}}">
                            </div>
                            <div class="card-content">
                                <div>
                                    <span class="card-title"><a class="detail ">{{this.title}}</a></span>
                                    <p><strong>Description : </strong>{{description}}</p>
                                    <p><strong>Detail : </strong>{{details}}</p>
                                    <p><strong>Category : </strong> {{category}}</p>
                                    <p><strong>Price : </strong> {{unitPrice}}</p>
                                    <p><strong>Unit Price : </strong> $ {{unitPrice}}</p>
                                </div>
                                <div>
                                    {{#if discountTable}}
                                    <table>
                                        <tr>
                                            <th>Units</th>
                                            <th>Discount</th>
                                        </tr>
                                        {{#each discountTable as |row|}}
                                        <tr>
                                            <td>> {{row.[0]}}</td>
                                            <td>{{row.[1]}}%</td>
                                        </tr>
                                        {{/each}}
                                    </table>
                                    {{/if}}
                                </div>
                                
                                <div style="border:1px #ff6d00 solid">
                                    <p><strong>Current Order</strong></p>
                                    <p><strong>Units bought : </strong> {{unitsBought}}&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <strong>Total Buyers : </strong> {{totalBuyers}}</p>
                                    {{#if discountTable}}
                                        <p><strong>Current Discount : </strong> {{currentDiscount}} %</p>
                                        <p><strong>Current Price : </strong> $ {{currentUnitPrice}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
        </section>

        <section class="container-2-buyerDetail">
            <form action="/buyer/paypal" method="POST">
                <p><strong>Cuantas unidades quieres adquirir?</strong></p>
                <input type="number" min="0" name="buyerQuantity" placeholder="Units">
                <br>
                <a class="waves-effect waves-light btn orange accent-4"><input type="submit" value="PAY"><i class="material-icons left">attach_money</i></a>
                <br>
                {{#if discountTable}}
                    <input type="hidden" name="title" value="{{title}} (with {{currentDiscount}}% discount">
                    <input id="unitPrice" type="hidden" name="unitPrice" value="{{currentUnitPrice}}">
                {{else}}
                    <input type="hidden" name="title" value="{{title}}">
                    <input id="unitPrice" type="hidden" name="unitPrice" value="{{unitPrice}}">
                {{/if }}
                <input type="hidden" name="id" value="{{_id}}">
            </form>
        </section>
    </section>
</section>    

  