<section class="container-sellerDetail">
    <h2>Detail</h2>
    <section class="container-1-sellerDetail">
        <p><strong>Product : </strong>{{title}}</p>
        <p><strong>Description : </strong>{{description}}</p>
        <p><strong>Details : </strong>{{details}}</p>
        <p><strong>Category : </strong>{{category}}</p>
        <p><strong>Price : </strong>{{unitPrice}} MXN</p>
        <img src={{picURL}} alt={{this.title}}/>
    </section>
    <section class="container-2-sellerDetail">
        <button><a href="/seller/products/detail/{{this._id}}/edit">EDIT product</a></button>
        <button><a href="/seller/products/detail/{{this._id}}/delete">DELETE Product</a></button>
        <button><a href="/seller/products/">VIEW ALL Products></button>
    </section>
</section>
