<h2>Detail</h2>

<p>{{title}}</p>
<p>{{description}}</p>
<p>{{details}}</p>
<p>{{category}}</p>
<p>{{unitPrice}}</p>
<img src={{picURL}} alt={{this.title}}/>

<button><a href="/seller/products/detail/{{this._id}}/delete">Delete Product</a></button>
