<section class="containerforleftbar">
    {{>leftnavseller}}
    <section class="container-sellerDetail">
        <h2>Detail</h2>
        <section class="container-1-sellerDetail">
            <p><strong>Product : </strong>{{title}}</p>
            <p><strong>Description : </strong>{{description}}</p>
            <p><strong>Details : </strong>{{details}}</p>
            <p><strong>Category : </strong>{{category}}</p>
            <p><strong>Price : </strong>{{unitPrice}} MXN</p>
            <img src={{picURL}} alt={{this.title}} />
        </section>
    <section class="container-2-sellerDetail">
        <a class="waves-effect waves-light btn orange accent-4" href="/seller/products/detail/{{this._id}}/delete"><i class="material-icons left">delete</i>DELETE</a>
        <a class="waves-effect waves-light btn orange accent-4" href="/seller/products/"><i class="material-icons left">shop</i>VIEW ALL PRODUCTS</a>
        <a class="waves-effect waves-light btn orange accent-4" href="/seller/"><i class="material-icons left">view_comfy</i>DASHBOARD</a>
    </section>
</section>



